.cr-chat-panel {
  #chat-box {
    height: calc(100vh - 13.4rem);
    @apply overflow-x-hidden pb-4;
  }
}

.cr-chat-message {

  .cr-box {
    @apply w-full relative flex space-x-2 items-start px-4 py-1.5;

    &:hover {
      @apply bg-gray-100;
    }

    .cr-profile {
      @apply w-8 h-8 shadow-sm rounded-full;

      img {
        position: relative;
        top: 4px;
      }
    }

    .cr-message {
      @apply flex flex-col;

      .cr-user-info {
        @apply flex flex-row space-x-1 items-baseline text-sm cursor-default;

        .cr-user {
          @apply font-medium text-slate-400 text-xs;
        }

        .cr-time {
          @apply text-xs text-slate-400 flex gap-1;
        }
      }

      .cr-text {
        @apply text-gray-800 text-base;
      }
    }

    // .cr-message {
    //   @apply px-3 py-2 rounded-2xl text-base break-words leading-6 w-fit cursor-pointer;
    // }

    // .cr-date {
    //   @apply text-xs mt-1 text-gray-300;
    // }
  }

  // .cr-left {
  //   .cr-message {
  //     @apply bg-gray-200 text-left text-gray-800;
  //   }
  // }

  // .cr-right {
  //   @apply flex justify-end items-end flex-col;

  //   .cr-message {
  //     @apply bg-blue-600 text-white text-right;
  //   }
  // }
}

.cr-channel-name {
  @apply flex flex-row items-center;

  .channel-name {
    @apply flex-grow;
  }

  .trash {
    i {
      svg {
        @apply text-red-600 font-medium h-5 w-5;
      }
    }
  }
}