// Common classes used
.btn {
  @apply px-4 py-1.5 rounded-md;
}

.btn-green {
  @apply bg-green-600 text-white;
}

.form-input {
  @apply w-full border rounded-md px-3 h-10 py-1.5 outline-none text-gray-600 shadow-sm resize-none;
}


.form-group {
  @apply flex flex-row items-center mb-6 gap-4 box-content;

  label {
    flex-basis: 40%;
    @apply text-right text-gray-600;
  }

  div:first-child {
    flex-basis: 60%;
    @apply w-full;
  }
}

textarea {
  &.form-input {
    @apply h-20;
  }
}

select {
  &.form-input {
    -webkit-appearance: none;
    appearance: none;
  }
}

.select-wrapper {
  @apply w-full relative;

  &::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 14px;
    position: absolute;
  }
}

.admin-left-slide {
  height: calc(100vh - 64px);
  @apply w-2/12;

  .a-child {
    @apply bg-slate-50 h-full pl-4 py-4;
  }
}

.admin-right-slide {
  @apply w-10/12 px-4 py-4;
}

.a-menu {
  @apply pr-4;
  li {
    @apply py-2 flex flex-row gap-1 pl-2 items-baseline bg-slate-200 mb-4 text-sm rounded-md text-gray-600;
    svg {
      @apply top-0.5 relative font-bold;
    }
    &:hover {
      @apply text-gray-900 bg-slate-300;
    }
  }
}