// Common classes used
.btn {
  @apply inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md ease-in-out duration-150;

  &.btn-sm {
    @apply text-sm py-1.5 px-2.5 font-normal;
  }
}

.btn-green {
  @apply bg-green-600 text-white;
}

.btn-indigo {
  @apply text-white bg-indigo-500 transition;

  &:hover {
    @apply bg-indigo-400;
  }
}

.btn-gray {
  @apply text-white bg-gray-500 transition;

  &:hover {
    @apply bg-gray-400;
  }
}

.form-input {
  @apply w-full border rounded-md px-3 h-10 py-1.5 outline-none text-gray-600 shadow-sm resize-none;

  &:disabled {
    @apply bg-slate-100;
  }
}

.form-group {
  @apply flex flex-row items-center mb-6 gap-4 box-content;

  label {
    flex-basis: 30%;
    @apply text-right text-gray-400;
  }

  div,
  input,
  textarea {
    flex-basis: 70%;
    @apply w-full;
  }
}

textarea {
  &.form-input {
    @apply h-20;
  }
}

select {
  &.form-input {
    -webkit-appearance: none;
    appearance: none;
  }
}

.select-wrapper {
  @apply w-full relative;

  &::after {
    content: "▼";
    font-size: 1rem;
    top: 6px;
    right: 14px;
    position: absolute;
  }
}

.admin-left-slide {
  height: calc(100vh - 52px);
  @apply w-2/12;

  .a-child {
    @apply bg-indigo-50 h-full pl-4 py-4;
  }
}

.admin-right-slide {
  height: calc(100vh - 52px);
  @apply w-10/12 px-4 py-4 overflow-y-scroll overflow-x-hidden;
}

.a-menu {
  @apply pr-4;

  li {
    @apply py-2 flex flex-row gap-1 pl-2 items-baseline bg-indigo-100 mb-4 text-sm rounded-md text-gray-800;

    svg {
      @apply top-0.5 relative font-bold;
    }

    &:hover {
      @apply text-gray-900 bg-slate-300;
    }
  }
}

.normal-table {
  @apply table-auto table w-full;

  thead {
    tr {
      th {
        @apply text-left text-gray-400 font-semibold text-sm;

        #action {
          @apply text-right;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        @apply py-4 border-b text-gray-600 border-gray-100 text-sm;

      }

      &.no-found {
        td {
          div {
            &:first-child {
              @apply text-center py-4 text-lg;
            }
          }
        }
      }


      &:last-child {
        td {
          @apply border-none;
        }
      }
    }
  }
}

.logs-table {
  @apply text-xs;

  .log-data {
    @apply w-full bg-slate-200 rounded px-2.5 py-2.5 overflow-x-hidden text-xs mt-2;
  }
}

.select-user {
  height: 360px;
  @apply bg-slate-200 rounded px-8 py-8 overflow-x-hidden overflow-y-scroll;
}